In [1]:
var1, var2 = 10, 20
print(var1, var2)

10 20

In [2]:
# conditional operators
# boolean
2 < 3

True

In [3]:
2 > 3

False

In [4]:
True == 1

True

In [5]:
False == 0

True

In [6]:
False == 2

False

In [8]:
True == 2

False

In [9]:
3 != 5

True

In [10]:
4 >= 4

True

In [11]:
# or logic
# if cond1 is T and cond2 is F, result = T
(4 > 2) or (5 < 3)

True

In [12]:
# and login
# if cond1 is T and cond2 is F, result = F
# if cond1 is T and cond2 is T, result = T
(4 > 2) and (5 < 6)

True

In [13]:
(4 < 2) and (5 < 6)

False

In [14]:
# while loop
num = 0
while num < 10:
    print('My name is Sunny')
    num += 1

My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny

In [15]:
num

10

In [16]:
list1 = ['apple', 'oranges', 'grapes', 'lemons']
# My fruit is apple
# My fruit is oranges
n = 0
while n < len(list1):
    print('My fruit is {}'.format(list1[n]))
    n += 1

My fruit is apple
My fruit is oranges
My fruit is grapes
My fruit is lemons

In [17]:
range(5)

range(0, 5)

In [18]:
for n in range(5):
    print('My name is Sunny')

My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny

In [19]:
for n in range(0, 5):
    print('My name is Sunny')

My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny
My name is Sunny

In [20]:
# list of even numbers using the range()
range(0, 12, 2)

range(0, 12, 2)

In [21]:
for n in range(0, 12, 2):
    print(n)

0
2
4
6
8
10

In [23]:
list1

['apple', 'oranges', 'grapes', 'lemons']

In [27]:
for item in list1[0:2]:
    print('My fruit is {}'.format(item))

My fruit is apple
My fruit is oranges